*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    /* overflow-y: hidden; */
    
}
.background{
    width: 100vw;
    height: 100vh;
    background-image: url('Assets/background-image.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom 100px left 100px;
}

nav{
    margin: auto;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 2px solid red; */
}

.navbar_menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
}
.navbar_menu a{
    text-decoration: none;
    color: black;
    font-size: 17px;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.search button{
    background-color: rgb(255, 25, 140);
    color: white;
    font-weight: 550;
    padding: 8px 13px;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
}
.hmenu{
    display: none;
}

@media screen and (max-width: 790px) and (min-width: 451px){
    .navbar_menu a{
        font-size: 14px;
    }
    .navbar_menu{
        gap: 10px;
    }
    nav{
        margin: auto;
    }
}

@media screen and (max-width:450px){
    .navbar_menu{
        display: none;
    }
    .search button{
        display: none;
    }
    .hmenu{
        display: block;
    }
    nav{
        width: 90vw;
        justify-content: space-between;
    }
}


main{
    margin: auto;
    width: 74vw;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 80vh;
    /* border: 2px solid red; */
}
.left_upper{
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
    /* margin-top: 120px; */
    /* border: 2px solid blue; */
}
.left_upper h2{
    font-size: 60px;
    /* border: 2px solid blue; */
}
.left_upper p{
    font-size: 24px;
    color: rgb(116, 116, 116);
    /* border: 2px solid blue; */
}
.side_btns{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 25px;
}
.side_btns button{
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
.apply_online{
    color: white;
    background-color: rgb(255, 25, 140);
    border: none;
}
.loan{
    background-color: white;
    border: 2px solid rgb(255, 25, 140);
    color: rgb(255, 25, 140);
}

.left_bottom{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.left_bottom *{
    cursor: pointer;
}
.left_bottom span{
    font-size: 18px;
}


.right{
    /* border: 2px solid red; */
    width: 50%;
    position: relative;
}
.hero{
    width: 160%;
    position: relative;
    right: 25%;
    bottom: 7%;
    /* border: 2px solid red; */
}
.floating_btns{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    /* border: 2px solid black; */
    padding: 8px 16px;
    width: 130px;
    font-size: 18px;
    border-radius: 25px;
    background-color: white;
    position: absolute;
    top: 10px;
    box-shadow: 0px 0px 20px 10px rgba(119, 119, 119, 0.61);
    cursor: pointer;
}
.home{
    width: 25px;
}
.car{
    width: 25px;
}
.carbtn{
    left: -20px;
}
.homebtn{
    top: 100px;
    right: -100px;
}


@media screen and (max-width: 790px) and (min-width: 451px){
    main{
        margin: auto;
        width: 90vw;
        justify-content: space-between;
        /* border: 2px solid red; */
    }
    .left_upper h2{
        font-size: 35px;
    }
    .left_upper p{
        font-size: 16px;
    }
    .side_btns{
        gap: 5px;
    }
    .side_btns button{
        font-size: 12px;
    }
    .hero{
        bottom: 0%;
        right:25%;
        width: 130%;
    }
    .carbtn{
        transform: scale(0.9);
        left: -28%;
    }
    .homebtn{
        transform: scale(0.9);
        right: -5%;
        top: 50px;
    }
}
@media screen and (max-width:450px){
    .background{
        background-size: cover;
        background-position: bottom;

    }
    main{
        width: 100vw;
        flex-wrap: wrap-reverse;
        /* border: 2px solid blue; */
        row-gap: 0px;
        margin: 0;
    }
    .left{
        margin: 0;
        width: 100%;
        height: 300px;
        justify-content: space-between;
        /* border: 2px solid red; */

        
    }
    .right{
        /* border: 2px solid red; */
        width: 100%;
        margin: 0;

    }
    .hero{
        width: 100%;
        right: 5%;
        top: 10%;
    }

    .left_upper{
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 20px;
    }
    .left_upper h2{
        font-size: 40px;
    }
    .left_upper p{
        font-size: 16px;
    }
    .side_btns{
        gap: 10px;
        justify-content: center;
    }
    .side_btns button{
        font-size: 12px;
    }
    .carbtn{
        transform: scale(0.7);
        left: -0%;
        top: -0%;
    }
    .homebtn{
        transform: scale(0.7);
        right: 5%;
        top: 40px;
    }
    .left_bottom{
        justify-content: center;
    }
}

.hover2:hover{
    background-color: rgb(196, 19, 107);
}
.navbar_menu a:hover{
    color: rgb(196, 19, 107);
}